body {
  margin:0px;
  padding:0px;
}

:root {
  --main-bg-color: #28A745;
}

/*estilos para el nav bar*/
.navbar {
  background: var(--main-bg-color)!important;
}

.navbar-brand img{
  height: 3.3125rem;
}

/* funcional en imagenes de productos*/
#productos { 
  padding:1.75rem;
}

#oferta{
  color:#28A745;
}

h5{
  font-family: Roboto;
  font-size: 20px;
  color: #212529;
}

h6, #marca{
  font-family: Roboto;
  font-size: 16px;
  color: #212529;
}

h6, #direccion{
  font-family: Roboto;
  font-size: 13px;
  color: #212529;
}

h4{
  font-family: Roboto;
  font-size: 26px;
  color: #ffffff;
}

.linea {
  border-top: 1px solid #707070;
  height: 1px;
  max-width: 500px;
  padding:0;
  margin-left: 50px;
}

.centrado{
	text-align:end;
}

h6, #precio{
  font-family: Roboto;
  font-size: 16px;
  color: #212529;
}

#formulario{
  padding: 0px;
  background-color:#28A745;
  text-align: center;
}

#botenviar{
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;
}

#imgfoot{
  background-color:#ffffff;
  height:34px;
  width: 92px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#seccion{
  background-color:#ffffff;
  margin:0px;
  padding:0px;
}

#piepagina{
  background-color:#ffffff;
  padding:0px;
}